<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Luwe Site</title>
  <link rel="manifest" href="manifest.json">
  <meta name="theme-color" content="#db0000"/>
  <meta name="description" content="Temukan berbagai restoran yang dapat membuat anda terpukau dengan berbagai kelebihan yang dimiliki, segera pilih sesuai dengan selera anda. LuweSite">
  <link rel="apple-touch-icon" href="../public/icon/icon192.png">
</head>
</head>

<body>
    <a href="#main-home" class="skip-link">Skip to content ?</a>

        <!-- Desktop Navbar -->
        <nav class="nav">
            <a class="brand" href="">Luwe Site</a>
            <ul class="nav-list">
                <li class="nav-items"><a href="/">Home</a></li>
                <li class="nav-items"><a href="/#/favorite">Favorite</a></li>
                <li class="nav-items"><a target="_blank" href="https://abdursetiawan04.github.io/" rel="noreferrer">About Us</a></li>
            </ul>
        </nav>

            <!-- Mobile Navbar -->  
    <div class="menu-mob">
        <button class="button" id="button" aria-label="navigation-menu">☰</button>
        <div class="brand-mob">Luwe Site</div>
        <div class="brand-mob">&nbsp;</div>
    </div>

    <nav id="drawer" class="nav-mob">
        <ul class="navlistmob">
            <li class="nav-items__mob"><a href="/">Home</a></li>
            <li class="nav-items__mob"><a href="/#/favorite">Favorite</a></li>
            <li class="nav-items__mob"><a target="_blank" href="https://abdursetiawan04.github.io/" rel="noreferrer">About Us</a></li>
        </ul>
    </nav>

    <!-- Main -->
    <main id="main-home"></main>
    
    <!-- Footer -->
    <footer>
        <p>All right reserved 2021 - Luwe Site</p>
    </footer>

</body>
</html>